{% set titleText = 'Forecast summary' %}

{% extends "layout.html" %}

{% block content %}
{% from "components/forecasts-nav/macro.njk" import forecastsNav %}
{{ forecastsNav({ trainingProvider: trainingProvider, active: 'summary' , user:user , activeTp: activeTp }) }}
<div class="govuk-grid-row">
    {% set statusItems = [
        { value: '',  text: '--- status ---'  },
        { value: 'Pending',  text: 'Pending' },
        { value: 'Submitted',  text: 'Submitted' },
        { value: 'Approved', text: 'Approved' },
        { value: 'Rejected', text: 'Rejected' }
    ] | selectValue(forecasts.meta.queries.status) %}

    {% set tpItems = [{ value: '',  text: '--- training providers ---' }] %}

    {% for tp in trainingProvidersDD %}
        {% set tpItems = (tpItems.push({ text: tp.text, value: tp.id }), tpItems) %}
    {% endfor %}

    {% set forecastTypes = [
        { value: '',  text: '--- forecast type ---'  },
        { value: 'annual',  text: 'Annual' },
        { value: 'monthly',  text: 'Monthly' }
    ] | selectValue(forecasts.meta.queries.forecastType) %}

    {% set years = getYearsOptions(currentPaymentSchedule.financialYear + 1) %}

    {% set customFilters %}

        {{ govukSelect({
            id: "trainingProviderId",
            name: "trainingProviderId",
            classes: "mca-filter",
            formGroup: { classes: "govuk-!-display-inline" },
            attributes: { "data-name": "trainingProviderId", "data-events": '["change"]' },
            label: {
              text: 'Filter forecasts by training provider',
              classes: 'govuk-visually-hidden'
            },
            items: tpItems | selectValue(forecasts.meta.queries.trainingProviderId)
        }) }}

        {{ govukSelect({
            id: "forecastType",
            name: "forecastType",
            classes: "mca-filter",
            formGroup: { classes: "govuk-!-display-inline" },
            attributes: { "data-name": "forecastType", "data-events": '["change"]' },
            label: {
              text: 'Filter forecasts by type',
              classes: 'govuk-visually-hidden'
            },
            items: forecastTypes | selectValue(forecasts.meta.queries.forecastType)
        }) }}

        {{ govukSelect({
            id: "financialYear",
            name: "financialYear",
            classes: "mca-filter",
            formGroup: { classes: "govuk-!-display-inline" },
            attributes: { "data-name": "financialYear", "data-events": '["change"]' },
            label: {
              text: 'Filter forecasts by year',
              classes: 'govuk-visually-hidden'
            },
            items: years | selectValue(forecasts.meta.queries.financialYear)
        }) }}

    {% endset %}

    {{ listFilter({
        columnClasses: "govuk-grid-column-full",
        resetLink: "/forecasts",
        meta: forecasts.meta,
        customFilters: customFilters
    }) }}
    <div class="govuk-grid-column-full">
        <h1 id="page-title" class="govuk-heading-l">{{titleText}}</h1>
        {% set rows = [] %}
        {% from 'components/claimtag/macro.njk' import mcaClaimTag %}
        {% for item in forecasts.data %}
            {% set tpHref = "/training-providers/" + item.trainingProviderId + "/forecasts/" + item.forecastType | lower + "/" + item.financialYear %}
            {% set tpLink %}<a href="{{tpHref}}" class="govuk-link">{{item.companyName}}</a>{% endset %}
            {% set rows = (rows.push([
                { html: tpLink },
                { text: item.financialYear | financialYearFormat},
                { text: item.forecastType },
                { text: item.amount | currencyUK }
            ]), rows) %}
        {% endfor %}

        {{ sortableTable({
            head: [
                { text: 'Training provider', attributes: { "aria-sort": "none", "data-name": "trainingProvider.companyName" } },
                { text: 'Year', attributes: { "aria-sort": "none", "data-name": "financialYear" } },
                { text: 'Type' },
                { text: 'Amount' }
            ],
            rows: rows,
            caption: 'Table showing forecasts, column headers with buttons are sortable',
            meta: forecasts.meta
        }) }}
    </div>
</div>

{% endblock %}
