POSTGRES_DB=smart
EXPOSED_POSTGRES_PORT=7432

# Todo: May be connected with the feedback form
# ATLAS_TOKEN=<get_from_???>
# ATLAS_USER=<get_from_???>
# ATLAS_URL=<get_from_???>

ENABLE_XRAY=false
AWS_XRAY_CONTEXT_MISSING=LOG_ERROR
AWS_XRAY_LOG_LEVEL=silent

HOST=localhost
UI_PORT=2997
SMART_API=http://service.local.smart.mcga.uk:8080
UI_URL=https://service.local.smart.mcga.uk
APP_BASE_URL=https://service.local.smart.mcga.uk

NODE_ENV=local
LOCAL_AUTH=true
TZ=UTC

# For the WebdriverIO used by tests
WDIO_X=2560
WDIO_Y=0
WDIO_W=1707
WDIO_H=915

NODE_OPTIONS=--experimental-vm-modules --experimental-specifier-resolution=node
SESSION_SECRET=my-local-smart-service-secret

OKTA_ORG_URL=https://id.mca.dev.catapult.cx
OKTA_AUD=api://local-smart
OKTA_SCOPE="openid profile offline_access"
OKTA_REDIRECT_URI=http://localhost:2997/authorization-code/callback
OKTA_ISSUER_URL=https://id.mca.dev.catapult.cx/oauth2/ausgyo8hjvCZaQI6U357
OKTA_CLIENT_ID=<GET_FROM_AWS_SECRETS_MANAGER_IN_THE_DEV_ACCOUNT>
OKTA_CLIENT_SECRET=<GET_FROM_AWS_SECRETS_MANAGER_IN_THE_DEV_ACCOUNT>
OKTA_ACCESS_API_TOKEN=<GET_FROM_AWS_SECRETS_MANAGER_IN_THE_DEV_ACCOUNT>
OKTA_AZURE_IDP=<GET_FROM_AWS_SECRETS_MANAGER_IN_THE_DEV_ACCOUNT>

# We haven't had to do this for a long time, but if you need to update the OKTA Scopes, use scripts/updateEnvScopes.sh
OKTA_SCOPE_AB="openid profile offline_access absences:read:all absences:write:all attachments:read:all attachments:write:all attachments:delete:all claims:read:all claims:write:all client-companies:read:all client-companies:write:all comments:read:all comments:write:all comments:delete:all enrolments:read:all enrolments:write:all forecasts:read:all forecasts:write:all smart-categories:write:all smart-items:write:all training-items:write:all trainings:read:all trainings:write:all training-providers:read:all training-providers:write:all trainees:read:all trainees:write:all workflowlogs:read:all workflowlogs:write:all"
OKTA_SCOPE_TP="openid profile offline_access absences:read:all absences:write:all attachments:read:all attachments:write:all attachments:delete:all claims:read:all claims:write:all client-companies:read:all client-companies:write:all comments:read:all comments:write:all comments:delete:all enrolments:read:all enrolments:write:all forecasts:read:all forecasts:write:all smart-categories:write:all smart-items:write:all training-items:write:all trainings:read:all trainings:write:all training-providers:read:all training-providers:write:all trainees:read:all trainees:write:all workflowlogs:read:all workflowlogs:write:all"

LOCAL_AUTH_JWT_KEY=QGZs4nlXXCCbPfjRYuhE8MqkwPS9224ugbp3V6wvnkdbyP868aLmZkis2xD271k4DgWKMNdEGVnmefPYFiB8RD6JXMVLokKTH4c24XlsKWTuahal2wXtNa1HhtWUzERtsTZHoG7Km4HYPGewusLBXdYW41Nl0cce8GCOg14OtBKOEJrbeWbOzOKtAysGDwHN3rEB284RWBjwpWlugp7kMxgPs05PAECPs7SyTn5K1n9bOwid777ptKS4UrSxOJMA

# Todo: Understand what effect this setting is having and why we need to set it to false for local dev
ENABLE_REDIS=false
REDIS_PASSWORD=V*.L=pL9B[kwM8d+
REDIS_HOST=service.local.smart.mcga.uk
REDIS_TLS=false
REDIS_PORT=6379

ENABLE_PRETTY_ERRORS=true

LOGGER_TYPE=flat
LOGGER_FORMAT=common
LOGGER_LEVEL=info
ENABLE_LOG_OUTGOING=false
# fitler out public and assests from the logs
LOGGER_MORGAN_SKIP=/public/,/assets/

CUCUMBER_PUBLISH_ENABLED=false

DEFAULT_PASWORD=?E.KfJ6KUy3_udTi

# normal i.e. db + api + nginx
COMPOSE_PROFILES=default,api
# just nginx - use db + api from somewhere else
# COMPOSE_PROFILES=default,attachments,comments
# all  -  db + api + nginx + ui
#COMPOSE_PROFILES=full

# normal for testing
API_SPRING_PROFILES=default, dev, test, no-auth
# use local auth
API_SPRING_PROFILES=default, dev, test,local-auth

COMMENTS_API='http://service.local.smart.mcga.uk:9080'
ATTACHMENTS_API='http://service.local.smart.mcga.uk:7080'

OKTA_SCOPE_AB="openid profile offline_access absences:read:all absences:write:all attachments:read:all attachments:write:all attachments:delete:all claims:read:all claims:write:all client-companies:read:all client-companies:write:all comments:read:all comments:write:all comments:delete:all enrolments:read:all enrolments:write:all forecasts:read:all forecasts:write:all smart-categories:write:all smart-items:write:all training-items:write:all trainings:read:all trainings:write:all training-providers:read:all training-providers:write:all trainees:read:all trainees:write:all workflowlogs:read:all workflowlogs:write:all"
OKTA_SCOPE_TP="openid profile offline_access absences:read absences:write attachments:read attachments:write attachments:delete claims:read claims:write client-companies:read client-companies:write comments:read comments:write comments:delete enrolments:read enrolments:write forecasts:read forecasts:write trainings:read trainings:write training-providers:read training-providers:write trainees:read trainees:write workflowlogs:read"

ATTACHMENTS_BUCKET=mcauk-smart-dev-attachments
AWS_PRIVATE_BUCKET=mcauk-smart-dev-attachments
STAGING_BUCKET=mcauk-smart-dev-staging-attachments
EVENTS_QUEUE_URL=https://sqs.eu-west-2.amazonaws.com/<AWS_ACCOUNT_ID>/mcauk-smart-dev-events

ENABLE_AV=false

