AWS_DEV_ACCOUNT_ID=change-me
TF_VAR_ECR_ACCOUNT_ID=change-me
POSTGRES_DB=smart
EXPOSED_POSTGRES_PORT=7432

ATLAS_TOKEN=
ATLAS_USER=
ATLAS_URL=

ENABLE_XRAY=false
AWS_XRAY_CONTEXT_MISSING=LOG_ERROR
AWS_XRAY_LOG_LEVEL=silent

HOST=localhost
UI_PORT=2997
SMART_API=http://service.local.smart.mcga.uk:8080
UI_URL=https://service.local.smart.mcga.uk
APP_BASE_URL=https://service.local.smart.mcga.uk
LOCALHOST_UI_URL=https://service.local.smart.mcga.uk

NODE_ENV=local
LOCAL_AUTH=true
TZ=UTC

# move the WDIO window
WDIO_X=200
WDIO_Y=0
WDIO_W=1707
WDIO_H=915

NODE_OPTIONS=--experimental-vm-modules --experimental-specifier-resolution=node
SESSION_SECRET=change-me

#General okta variables
OKTA_AUD=api://local-smart
OKTA_SCOPE="openid profile offline_access"
OKTA_REDIRECT_URI=https://service.local.smart.mcga.uk/authorization-code/callback
OKTA_ACCESS_API_TOKEN=change-me
OKTA_AZURE_IDP=change-me

#okta variables for online auth
USE_LOCAL_KEYCLOAK=false
OKTA_ORG_URL=change-me
OKTA_ISSUER_URL=change-me
OKTA_CLIENT_ID=change-me
OKTA_CLIENT_SECRET=change-me

#okta variables for local auth
#USE_LOCAL_KEYCLOAK=true
#OKTA_ORG_URL=change-me
#OKTA_ISSUER_URL=change-me
#OKTA_CLIENT_ID=change-me
#OKTA_CLIENT_SECRET=change-me

LOCAL_AUTH_JWT_KEY=change-me

ENABLE_REDIS=true
REDIS_PASSWORD=change-me
REDIS_HOST=service.local.smart.mcga.uk
REDIS_TLS=true
REDIS_PORT=6379

ENABLE_PRETTY_ERRORS=true

LOGGER_TYPE=flat
LOGGER_FORMAT=json
LOGGER_LEVEL=debug
ENABLE_LOG_OUTGOING=true
# filter out public and assests from the logs
LOGGER_MORGAN_SKIP=/public/,/assets/

CUCUMBER_PUBLISH_ENABLED=false

DEFAULT_PASWORD=change-me

# normal i.e. db + api + nginx
COMPOSE_PROFILES=default,api
# just nginx - use db + api from somewhere else
# COMPOSE_PROFILES=default,attachments,comments
# all  -  db + api + nginx + ui
# COMPOSE_PROFILES=full

# normal for testing
#API_SPRING_PROFILES=default,dev,test,no-auth
# use local auth
API_SPRING_PROFILES=default,dev,test,local-auth
# use updateEnvScopes.sh to get scopes

COMMENTS_API='http://service.local.smart.mcga.uk:9080'
ATTACHMENTS_API='http://service.local.smart.mcga.uk:7080'

OKTA_SCOPE_AB="openid profile offline_access absences:read:all absences:write:all attachments:read:all attachments:write:all attachments:delete:all claims:read:all claims:write:all client-companies:read:all client-companies:write:all comments:read:all comments:write:all comments:delete:all enrolments:read:all enrolments:write:all forecasts:read:all forecasts:write:all smart-categories:write:all smart-items:write:all training-items:write:all trainings:read:all trainings:write:all training-providers:read:all training-providers:write:all trainees:read:all trainees:write:all workflowlogs:read:all workflowlogs:write:all"
OKTA_SCOPE_TP="openid profile offline_access absences:read:all absences:write:all attachments:read:all attachments:write:all attachments:delete:all claims:read:all claims:write:all client-companies:read:all client-companies:write:all comments:read:all comments:write:all comments:delete:all enrolments:read:all enrolments:write:all forecasts:read:all forecasts:write:all smart-categories:write:all smart-items:write:all training-items:write:all trainings:read:all trainings:write:all training-providers:read:all training-providers:write:all trainees:read:all trainees:write:all workflowlogs:read:all workflowlogs:write:all"
AWS_PRIVATE_BUCKET="mcauk-smart-dev-attachments"

ATTACHMENTS_BUCKET=change-me
STAGING_BUCKET=change-me
EVENTS_QUEUE_URL=change-me
EVENTS_QUEUE=change-me

ENABLE_AV=false
