POSTGRES_DB=smart
EXPOSED_POSTGRES_PORT=7432

ATLAS_TOKEN=
ATLAS_USER=
ATLAS_URL=

ENABLE_XRAY=false
AWS_XRAY_CONTEXT_MISSING=LOG_ERROR
AWS_XRAY_LOG_LEVEL=silent

HOST=localhost
UI_PORT=2997
SMART_API=http://service.local.smart.mcga.uk:8080
UI_URL=https://service.local.smart.mcga.uk
APP_BASE_URL=https://service.local.smart.mcga.uk

NODE_ENV=local
LOCAL_AUTH=true
TZ=UTC

# move the WDIO window
WDIO_X=2560
WDIO_Y=0
WDIO_W=1707
WDIO_H=915

NODE_OPTIONS=--experimental-vm-modules --experimental-specifier-resolution=node
SESSION_SECRET=my-local-smart-service-secret

OKTA_ORG_URL=https://id.mca.dev.catapult.cx
OKTA_AUD=api://local-smart
OKTA_SCOPE="openid profile offline_access"
OKTA_REDIRECT_URI=http://localhost:2997/authorization-code/callback
OKTA_ISSUER_URL=https://id.mca.dev.catapult.cx/oauth2/ausgyo8hjvCZaQI6U357
OKTA_CLIENT_ID=<SMART-LOCAL-CLIENT-ID>
OKTA_CLIENT_SECRET=<SMART-LOCAL-CLIENT-SECRET>
OKTA_ACCESS_API_TOKEN=<OKTA_ACCESS_API_TOKEN>
OKTA_AZURE_IDP=0oahae9ax21daS6dW357

LOCAL_AUTH_JWT_KEY=QGZs4nlXXCCbPfjRYuhE8MqkwPS9224ugbp3V6wvnkdbyP868aLmZkis2xD271k4DgWKMNdEGVnmefPYFiB8RD6JXMVLokKTH4c24XlsKWTuahal2wXtNa1HhtWUzERtsTZHoG7Km4HYPGewusLBXdYW41Nl0cce8GCOg14OtBKOEJrbeWbOzOKtAysGDwHN3rEB284RWBjwpWlugp7kMxgPs05PAECPs7SyTn5K1n9bOwid777ptKS4UrSxOJMA

ENABLE_REDIS=true
REDIS_PASSWORD=V*.L=pL9B[kwM8d+
REDIS_HOST=service.local.smart.mcga.uk
REDIS_TLS=true
REDIS_PORT=6379

ENABLE_PRETTY_ERRORS=true

LOGGER_TYPE=flat
LOGGER_FORMAT=common
LOGGER_LEVEL=info
ENABLE_LOG_OUTGOING=false
# fitler out public and assests from the logs
LOGGER_MORGAN_SKIP=/public/,/assets/

CUCUMBER_PUBLISH_ENABLED=false

DEFAULT_PASWORD=?E.KfJ6KUy3_udTi

# normal i.e. db + api + nginx
COMPOSE_PROFILES=default,api
# just nginx - use db + api from somewhere else
# COMPOSE_PROFILES=default,attachments,comments
# all  -  db + api + nginx + ui
#COMPOSE_PROFILES=full

# normal for testing
API_SPRING_PROFILES=default, dev, test, no-auth
# use local auth
API_SPRING_PROFILES=default, dev, test,local-auth

# use updateEnvScopes.sh to get scopes
