# Sorted alphabetically for ease of grokking...
*.log
*.sql.gz
*.tfstate*
*.zip
.DS_Store
.env
.envrc
.history
.idea
.npmrc
.nyc_output
.scannerwork
.terraform
.vscode
TESTS-sonar.xml
coverage
kubeconfig_*
node_modules
public
reports
rg-notes.md
smarts-ui.iml
test/localstack/data
wdio-output
gitleaks-report.json
terraform/dev.tfplan
terraform/preprod.tfplan
terraform/live.tfplan

#local debugging
local-testing/okta-debug-method.js
local-testing/okta-debug.js
local-testing/debug-real-data-getAll.js
/local-testing/
