.dockerignore
.env
.env.example
.envrc
.eslintrc.js
.history
.idea/
.npmrc
.nvmrc
.nyc_output
.scannerwork
.sonar
.sonarlint
.vscode/
*.dump.gz
*.iml
*.log
coverage
cypress*
docker-compose-tmp.yml
docker-compose.yml
Dockerfile
Jenkinsfile
jest.config.js
jsconfig.json
logs.txt
node_modules
output.log*
reports
test
terraform
