{% set titleText = 'Accessibility Statement for the Support for Maritime Training (SMarT)' %}

{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl" id="accessibility-statement-for-website-name">
            {{titleText}}
        </h1>

      <p class="govuk-body">This website is run by the Marine and Coastguard Agency. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 300% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

      <p class="govuk-body">The site will:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>respond to different screen sizes or zoom levels</li>
        <li>use words that are clear and simple to understand throughout the website</li>
        <li>ensure all images have accessible descriptions where necessary</li>
      </ul>


      <p class="govuk-body"><a rel="external" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

      <h3 class="govuk-heading-s" id="what-to-do-if-you-cannot-access-parts-of-this-website">What to do if you cannot access parts of this website</h3>

      <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><strong>[add MCA help contact details]</strong></li>
      </ul>

      <p class="govuk-body">We’ll consider your request and get back to you in [number] days.</p>


      <h3 class="govuk-heading-s" id="reporting-accessibility-problems-with-this-website">Reporting accessibility problems with this website</h3>

      <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact: <strong>[add MCA help contact details]</strong>.</p>

      <h3 class="govuk-heading-s" id="enforcement-procedure">Enforcement procedure</h3>

      <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018
      (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a rel="external" href="https://www.equalityadvisoryservice.com/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>


      <h2 class="govuk-heading-m" id="technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</h2>

      <p class="govuk-body">The Marine and Coastguard Agency is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

      <p class="govuk-body">This website is partially compliant with the <a rel="external" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliances listed below.</p>

      <h2 class="govuk-heading-m" id="non-accessible-content">Non accessible content</h2>

      <h3 class="govuk-heading-s" id="content-thats-not-within-the-scope-of-the-accessibility-regulations">Some PDF documents are not fully accessible to screen reader software</h3>

      <p class="govuk-body">Many of our older PDFs and Word documents do not meet accessibility standards - for example, they may not be structured so they’re accessible to a screen reader. This does not meet WCAG 2.1 success criterion 4.1.2 (name, role value).</p>

      <p class="govuk-body">Some of our PDFs and Word documents are essential to providing our services. For example, we have PDFs with information on how users can access our services, and forms published as Word documents. By September 2020, we plan to either fix these or replace them with accessible HTML pages.</p>


      <h2 class="govuk-heading-m" id="how-we-tested-this-website">How we tested this website</h2>

      <p class="govuk-body">This website was last tested on Friday 6th March. The test was carried out by the Marine and Coastguard agancy in collaboration with Catapult.cx .</p>

      <p class="govuk-body">We tested a sample of pages to cover the different content types in the  we site.</p>


      <p class="govuk-body">The website was tested using automated software and manually by the development team.</p>

      <p class="govuk-body">We manually test pages with users and technical development teams before they are made publicly available.</p>

      <p class="govuk-body">The last external audit looked at our:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>The main website homepage</li>
        <li>Beginning a new vessel registration</li>
        <li>For what purpose are you registering a vessel</li>
        <li>Adding detailed information about a vessel</li>
        <li>Adding multiple owners of a vessel</li>
        <li>Viewing, searching and sorting registered vessels</li>
        <li>Viewing registration summary for a given vessel</li>
        <li>Application to provisionally register a vessel</li>
      </ul>

      <h2 class="govuk-heading-m" id="what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</h2>

      <p class="govuk-body">The website will be continuously tested using automated software and manually by the development team.</p>

      <p class="govuk-body">We will thoroughly test new pages with users and technical development teams before they are made publicly available.</p>

      <p class="govuk-body">This statement was prepared on Friday 6th March 2020. It was last updated on Friday 6th March 2020.</p>

    </div>

    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">Content</h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li><a href="#accessibility-statement-for-website-name">Accessibility statement for the Support for Maritime Training</a></li>
                    <li><a href="#technical-information-about-this-websites-accessibility">Technical information about this website’s accessibility</a></li>
                    <li><a href="#non-accessible-content">Non accessible content</a></li>
                    <li><a href="#how-we-tested-this-website">How we tested this website</a></li>
                    <li><a href="#what-were-doing-to-improve-accessibility">What we’re doing to improve accessibility</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>



{% endblock %}
