{% set titleText = 'Privacy Policy Statement for the Support for Maritime Training (SMarT)' %}

{% extends "layout.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{titleText}}</h1>
      <p class="govuk-body">This privacy information notice explains how the Maritime and Coastguard Agency (MCA) use any
        personal information we collect about you when your sponsoring company claims for the government funded Support for
        Maritime Training (SMarT) on your behalf. The MCA will use your personal data as necessary to carry out their public
        task of administering claims for the government funded SMarT scheme.</p>
      <p class="govuk-body">Government funded Support for Maritime Training (SMarT) is administered on behalf of the MCA by
        the administering body (AB), currently MaTSU, an independent unit of Ricardo Energy &amp; Environment. MaTSU is not a
        policy making body but has an executive role in ensuring that the scheme is operated effectively. MaTSU approves the
        payment of public funding to approved Training Providers (sponsoring companies) to support the costs of approved
        training.</p>
      <h2 class="govuk-heading-s" id="what-information-do-we-collect-about-you">
        1. What information do we collect about you?
      </h2>
      <p class="govuk-body">The following personal information will be shared with the MCA:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your full name</li>
        <li>your date of birth</li>
        <li>your place of birth</li>
        <li>your gender</li>
        <li>your nationality</li>
        <li>your contact details including your address and postcode</li>
        <li>your college</li>
        <li>the client company you work for/subsidiary company (where client company is part of a consortium)</li>
        <li>seafarer classification/codes</li>
      </ul>
      <p class="govuk-body">The MCA will capture this data to support the Department for Transports (DfT) commitment to the
        <a href="https://www.gov.uk/government/publications/maritime-2050-navigating-the-future" class="govuk-link">Maritime
          2050 initiative</a>
        to grow our maritime workforce and transform their diversity to enhance the UK maritime sector and provide a more
        diverse place to work both onboard vessels and in maritime jobs ashore.</p>
      <p class="govuk-body">Capturing this data will enable both the MCA and DfT the ability to monitor the progress of
        increasing cadet diversity to help develop and implement policy.</p>
      <p class="govuk-body">This data will be used for statistical analysis only and will not identify you.</p>
      <h2 class="govuk-heading-s" id="how-we-use-the-information-about-you">2. How we use the information about you?</h2>
      <p class="govuk-body">The personal information collected will be directly related to the course that you are undertaking
        and the type of training. The information will be used to validate the claim submitted by the Training Provider and
        ensure a correct match between trainees and claim records and provide a record of training and funding claimed against a
        named trainee.</p>
      <p class="govuk-body">The personal information collected will be used to populate anonymised aggregate government
        statistics.</p>
      <p class="govuk-body">The personal information collected may be used for the purposes of verifying claims confirming
        that a Certificate of Competency (CoC) has been issued and the issue date.</p>
      <p class="govuk-body">Bi-annual audits undertaken by MaTSU will take place on individual sponsoring companies and
        additional information may be selected to ensure scheme compliance and appropriate use of government funding and state
        aid. If your records are selected, it may be necessary for some of your personal information and additional
        identification documents to be uploaded to a secure web enabled SMarT portal and retained until the audit has been fully
        completed within 30 days and for no more than 90 days. Personal information relating to the audit will then be deleted
        from the SMarT portal after this time.</p>
      <h2 class="govuk-heading-s" id="retaining-your-information">
        3. Retaining your information</h2>
      <p class="govuk-body">We will keep your personal information for 10 years from the date that SMarT funding was last
        granted in relation to you, after which time it will be deleted.</p>
      <h2 class="govuk-heading-s" id="sharing-your-information">
        4. Sharing your information</h2>
      <p class="govuk-body">We will not share your personal information with third parties to use for a purpose that is not
        compatible with the SMarT scheme, unless required or permitted to do so by law.</p>
      <p class="govuk-body">A copy of your CoC may be provided to the training provider as part of the process.</p>
      <p class="govuk-body">We use a third-party data processor who provide this service for us. We have a contract in place
        with our data processor. This means that they cannot do anything with your personal information unless we have
        instructed them to do it. They will not share your personal information with any organisation apart from us. They will
        hold it securely and retain it for the period we instruct.</p>
      <h2 class="govuk-heading-s" id="storing-your-information">5. Storing your information</h2>
      <p class="govuk-body">We will securely store your personal information in the UK. We do not routinely transfer data
        overseas but when this is necessary, we will ensure that we have the appropriate safeguards in place.</p>
      <h2 class="govuk-heading-s" id="automated-decision-making">6. Automated decision making</h2>
      <p class="govuk-body">We will not use automated decision making or profiling in using your data.</p>
      <h2 class="govuk-heading-s" id="your-rights">7. Your rights</h2>
      <p class="govuk-body">The UK GDPR sets out a number of rights which individuals have over their personal data, allowing
        you to request copies of your personal data and, in certain circumstances, to object to it being used for a certain
        purpose, or to have it deleted or modified. To find out more please see our
        <a
          href="https://www.gov.uk/government/organisations/maritime-and-coastguard-agency/about/personal-information-charter"
          class="govuk-link">Personal information charter</a>.</p>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#what-information-do-we-collect-about-you" class="govuk-link">1. What information do we collect about you?</a>
            </li>
            <li>
              <a href="#how-we-use-the-information-about-you" class="govuk-link">2. How we use the information about you?</a>
            </li>
            <li>
              <a href="#retaining-your-information" class="govuk-link">3. Retaining your information</a>
            </li>
            <li>
              <a href="#sharing-your-information" class="govuk-link">4. Sharing your information</a>
            </li>
            <li>
              <a href="#storing-your-information" class="govuk-link">5. Storing your information</a>
            </li>
            <li>
              <a href="#automated-decision-making" class="govuk-link">6. Automated decision making</a>
            </li>
            <li>
              <a href="#your-rights" class="govuk-link">7. Your rights</a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}