{% set titleText = 'Support'%}

{% extends "layout.html" %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{titleText}}</h1>
            <p class="govuk-body">SMarT is an online service that is available 24/7, 365 days per year.</p>
            <h2 class="govuk-heading-m">Support process</h2>
            <p class="govuk-body">
                If you have a problem, first check for known issues on the
                <a href="https://mcauk.statuspage.io" class="govuk-link">SMarT service status page</a>. Subscribe to get alerts on the progress of any listed issue
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>If you are interested in becoming an approved SMarT Training Provider, please read the eligibility criteria in our
                    <a
                        class="govuk-link"
                        href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/888493/MGN_455_-_Tagged.pdf">
                        guidance notes</a>
                    (section 13 of MGN 45) before contacting SMarT before you contact Support for Maritime Training. If you think you are
                    eligible please contact:
                    <a class="govuk-link" href="mailto:Smart.enquiries@ricardo-aea.com">Smart.enquiries@ricardo-aea.com</a>
                    in the first instance or
                    <a class="govuk-link" href="mailto:smart@mcga.gov.uk">smart@mcga.gov.uk</a>
                </li>
                <li>
                    If you are an existing SMarT Training Provider and are having issues with submitting your claims/forecasts, please
                    contact
                    <a class="govuk-link" href="mailto:Smart.enquiries@ricardo-aea.com">Smart.enquiries@ricardo-aea.com</a>
                </li>
                <li>
                    For all system issues, please raise your concerns via the
                    <a class="govuk-link" href="https://service.live.smart.mcga.uk/feedback">
                        feedback</a>
                    button on the SMarT System.
                </li>
            </ul>
            <h2 class="govuk-heading-m">Office hours</h2>
            <p class="govuk-body">Our office hours are 7:00am to 19:00pm, Monday to Friday.</p>
            <p class="govuk-body">You can email us at
                <a class="govuk-link" href="mailto:smart@mcga.gov.uk">smart@mcga.gov.uk</a>
                with any issues or enquiries.</p>
            <h2 class="govuk-heading-m">When to contact us</h2>
            <p class="govuk-body">
                Claims can take up to 10 working days to process once they are submitted. Please contact
                <a class="govuk-link" href="mailto:Smart.enquiries@ricardo-aea.com">Smart.enquiries@ricardo-aea.com</a>
                or via the comments section of the portal should you have any issues in submitting/amending your claim.
                <table class="govuk-table">
                    <caption class="govuk-table__caption">Contact methods</caption>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Phone</th>
                            <td class="govuk-table__cell">+44 203 80 72200 and ask for the SMarT Team</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Email</th>
                            <td class="govuk-table__cell">
                                <a class="govuk-link" href="mailto:smart@mcga.gov.uk">
                                    smart@mcga.gov.uk</a>
                                </a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Post</th>
                            <td class="govuk-table__cell">
                                UK Seafarer Services Branch<br/> HQ Spring Place<br/>
                                105 Commercial Road<br/> Southampton<br/> SO15 1EG
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}