{% set titleText = 'Delete balancing claim' %}

{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" id="page-title">{{titleText}}</h1>

        <p class="govuk-body"><strong>Are you sure you want to delete this balancing claim?</strong></p>

        <form action="{{ formUrl }}" id="stats-form" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukSummaryList({
                rows: [
                    {
                        key: { text: 'Trainee' },
                        value: { text: trainee.contactName  if trainee.contactName else trainee.matsuNumber },
                        actions: { items: [] }
                    },
                    {
                        key: { text: 'Trainee date of birth' },
                        value: { text: trainee.dateOfBirth | dateUKFormat },
                        actions: { items: [] }
                    },
                    {
                        key: { text: 'Smart item' },
                        value: { text: balancingClaim.smartItem.description },
                        actions: { items: [] }
                    },
                    {
                        key: { text: 'Amount' },
                        value: { text: balancingClaim.amount | currencyUK },
                        actions: { items: [] }
                    },
                    {
                        key: { text: 'Comment' },
                        value: { text: balancingClaim.comment },
                        actions: { items: [] }
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true,
                attributes: { id: 'save-button' }
            }) }}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: "/training-providers/" + trainingProviderId + "/claims/years/" + year + "/periods/" + period+ "/balancing-claim/trainee/" +  trainee.id + "/" + balancingClaim.id ,
                attributes: { id: 'cancel-button' }
            }) }}
        </form>
    </div>
</div>

{% endblock %}
