{% set titleText = 'Confirm enrolment status change' %}

{% extends "layout.html" %}

{% block content %}

{% from "components/smart-date/macro.njk" import smartDate %}

{{ govukBackLink({
    text: "Back to " + trainee.contactName,
    href: '/training-providers/' + trainingProvider.id + '/trainees/' + trainee.id + '/enrolments/' + enrolment.id
}) }}

<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
      {% include "./status-change-confirm-include.html" %}
        <form class="form" action="" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="start-date-day" value="{{updated.startDate | day}}">
            <input type="hidden" name="start-date-month" value="{{updated.startDate | month}}">
            <input type="hidden" name="start-date-year" value="{{updated.startDate | year}}">
            <input type="hidden" name="end-date-day" value="{{updated.expectedEndDate | day}}">
            <input type="hidden" name="end-date-month" value="{{updated.expectedEndDate | month}}">
            <input type="hidden" name="end-date-year" value="{{updated.expectedEndDate | year}}">
            {% if updated.status == 'Completed' %}
            <input type="hidden" name="coc-number" value="{{updated.cocNumber}}">
            <input type="hidden" name="coc-issued-date-day" value="{{updated.cocIssuedDate | day}}">
            <input type="hidden" name="coc-issued-date-month" value="{{updated.cocIssuedDate | month}}">
            <input type="hidden" name="coc-issued-date-year" value="{{updated.cocIssuedDate | year}}">
            {% endif %}

            <input type="hidden" name="noe-issued-date-day" value="{{updated.noeIssuedDate | day}}">
            <input type="hidden" name="noe-issued-date-month" value="{{updated.noeIssuedDate | month}}">
            <input type="hidden" name="noe-issued-date-year" value="{{updated.noeIssuedDate | year}}">

            <input type="hidden" name="status" value="{{updated.status}}">

            {{ govukButton({
                text: "Submit",
                preventDoubleClick: true
            }) }}

            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: "/training-providers/" + trainingProvider.id + "/trainees/" + trainee.id + "/enrolments/" + enrolment.id + "/details"
            }) }}

            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
