<script nonce='{{cspNonce}}' src="/public/js/cookie-manager-1.0.0.min.js"></script>
<script nonce='{{cspNonce}}' src="/assets/js/jquery.js"></script>
<script type="module" nonce='{{cspNonce}}' src="/assets/js/govuk-frontend.min.js"></script>
<script type="module" nonce='{{cspNonce}}' src="/assets/js/moj-frontend.min.js"></script>
<script nonce='{{cspNonce}}' src="/public/js/utils.js"></script>
<script nonce='{{cspNonce}}' src="/public/js/all.js"></script>
<script nonce='{{cspNonce}}' src="/public/js/sortable-table.js"></script>
<script nonce='{{cspNonce}}' src="/public/js/accessible-autocomplete.min.js"></script>
<script nonce='{{cspNonce}}' src="/public/js/attachments.js"></script>