{% from "table/macro.njk" import govukTable %}
{% from "tag/macro.njk" import govukTag %}

{% set baseUrl = params.baseUrl %}
{% set rows = [] %}
{% for item in params.items.data %}
    {%set traineeLink%}
    <a href="{{params.baseUrl}}/trainees/{{item.trainee.id}}" class="govuk-link">{{item.trainee.contactName if item.trainee.contactName else item.trainee.matsuNumber }}</a>
    {%endset%}

    {%set tableLink = params.baseUrl + "/trainees/" + item.trainee.id + "/enrolments/" + item.id %}

    {% if  (params.isTp == true) and (params.tpId != item.training.trainingProviderId  ) %}
        {% set tableLink %}
            {{item.training.trainingItem.description }}
        {% endset %}
    {% elif  (item.status == 'Active') or  (item.status == 'Completed') or (params.isTp == true) %}
        {% set tableLink %}
            <a href="{{params.baseUrl}}/trainees/{{item.trainee.id}}/enrolments/{{item.id}}" class="govuk-link">{{item.training.trainingItem.description }}</a>
        {% endset %}
    {% else  %}
        {%set tableLink%}
        <a href="{{params.baseUrl}}/trainees/{{item.trainee.id}}/enrolments/{{item.id}}/details" class="govuk-link">{{item.training.trainingItem.description }}</a>
        {%endset%}
    {% endif%}

    {% if 'covid' in item.training.trainingItem.description | lower %}
        {%set tableWeekCount = item.trainee.covidWeeksClaimed %}
    {% else %}
        {%set tableWeekCount = item.trainee.smart1WeeksClaimed %}
    {% endif%}

    {% set rows = (rows.push([
        { text: item.training.trainingProviderCompanyName} if params.allTps ,
        { html: traineeLink},
        { text: item.startDate | dateUKFormat, format: "numeric", attributes: { 'nowrap': ''} },
        { text: item.expectedEndDate | dateUKFormat, format: "numeric", attributes: { 'nowrap': ''} },
        { text: getDurationInWeeks(item.startDate, item.expectedEndDate) | weeksFormat, format: "numeric"},
        { html: tableLink},
        { text: tableWeekCount + ' w', format: "numeric"},
        { text: govukTag({
            text: item.status,
            classes: item.status | getStatusCssClass
        }) }
    ]| cleanList), rows) %}
{% endfor %}

{% from "components/sortable-table/macro.njk" import sortableTable %}
{{ sortableTable({
    head: [
        { text: 'Training Provider'} if params.allTps ,
        { text: 'Trainee', attributes: { "aria-sort": "none", "data-name": "trainee.contactName" } },
        { text: 'Start', attributes: { "aria-sort": "none", "data-name": "startDate" }  , format: "numeric"},
        { text: 'End', attributes: { "aria-sort": "none", "data-name": "expectedEndDate" }  , format: "numeric"},
        { text: 'Duration', format: "numeric" },
        { text: 'Training' },
        { text: 'Claimed' , format: "numeric"},
        { text: 'Status'}
    ]| cleanList,
    rows: rows,
    caption: 'Table showing enrolments, column headers with buttons are sortable',
    meta: params.items.meta
}) }}