{% set items = [{ value: "", text: "-- status --" }] %}
{% for item in params.items %}
    {% set items = (items.push({ text: item.text, value: item.id}), items) %}
{% endfor %}

{% set id = params.id if params.id else 'qualification' %}

{% from "components/select/macro.njk" import govukSelect %}

{{ govukSelect({
    id: id,
    name: params.name if params.name else id,
    label: {
        text: params.label.text if params.label.text else 'Choose qualification',
        classes: params.label.classes if params.label.classes
    },
    hint: {
        text: 'Select if the trainee is in further education'
    },
    items: items | selectValue(params.value),
    errorMessage: params.errorMessage
}) }}
