{% set titleText = 'Training items' %}

{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 id="page-title" class="govuk-heading-l">{{titleText}}</h1>
      {{trainingItems.data|dump}}

      {% set rows = [] %}
      {% for item in trainingItems %}
        {% set smartItems = [] %}
        {% for smartItem in item.smartItems %}
                {% set smartItems = (smartItems.push(smartItem.description), smartItems) %}
        {% endfor %}
        {%set tableLink%}
        <a href="/training-items/{{item.id}}" class="govuk-link">{{item.description}}</a>
        {%endset%}
        {% set rows = (rows.push([
        { html: tableLink},
        { text: smartItems | join(",")},
        { text: govukTag({
              text: item.status,
              classes: "govuk-tag--green" if cs.status == 'Active' else "govuk-tag--red"
            })
        }
        ]), rows) %}
      {% endfor %}

      {{ govukTable({
            caption: 'Table displaying training items',
            captionClasses: 'govuk-table__caption--m govuk-visually-hidden',
            firstCellIsHeader: false,
              head: [
              {
                text: 'Training Item'
              },
              {
                text: 'SMart Item'
              },
              {
                text: 'Status'
              }
              ],
            rows: rows
            }) }}
    </div>
  </div>

{% endblock %}