{% set titleText = 'Change your password' %}

{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if query.expired %}
                {% from "notification-banner/macro.njk" import govukNotificationBanner %}
                {{ govukNotificationBanner({
                  text: 'Your password has expired, you must change it to login.'
                }) }}
            {% endif %}

            <h1 class="govuk-heading-xl">{{titleText}}/h1>
            {% if error %}
                {{ govukErrorSummary({
                  titleText: "There is a problem",
                  errorList: error
                }) }}
            {% endif %}

            <form action="/change-password" method="post">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                {{ govukInput({
                  label: {
                    text: 'Enter old password'
                  },
                  classes: 'govuk-input--width-20',
                  id: 'oldPassword',
                  name: 'oldPassword',
                  type: 'password',
                  value: data.oldPassword if data,
                  autocomplete: false,
                  errorMessage: 'oldPassword' | getError(error),
                  attributes: { spellcheck: 'false' }
                }) }}
                {{ govukInput({
                  label: {
                    text: 'Enter new password'
                  },
                  classes: 'govuk-input--width-20',
                  id: 'newPassword',
                  name: 'newPassword',
                  type: 'password',
                  value: data.newPassword if data,
                  autocomplete: false,
                  errorMessage: 'newPassword' | getError(error),
                  attributes: { spellcheck: 'false' }
                }) }}

                {{ govukInput({
                  label: {
                    text: 'Repeat new password'
                  },
                  classes: 'govuk-input--width-20',
                  id: 'newPassword2',
                  name: 'newPassword2',
                  type: 'password',
                  value: data.newPassword2 if data,
                  autocomplete: false,
                  errorMessage: 'newPassword2' | getError(error),
                  attributes: { spellcheck: 'false' }
                }) }}

                {{ govukButton({
                  text: "Continue",
                  preventDoubleClick: true
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
