{% set titleText = 'Change user status' %}

{% extends "layout.html" %}
{% set noBreadcrumb = "true" %}

{% block content %}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/"
},
{
text: "Training providers",
href: "/training-providers"
},
{
text: trainingProvider.companyName,
href: "/training-providers/" + trainingProvider.id
},
{
text: 'Users',
href: "/training-providers/" + trainingProvider.id + "/users"
}
]
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if status == 'deactivate' %}
            {% set status = 'delete' if tpUser.status == 'DEPROVISIONED' else 'deactivate' %}
        {% endif %}
        <h1 class="govuk-heading-xl" id="page-title">{{titleText}}</h1>
        <p class="govuk-body"><strong>Are you sure you want to {{ status }} {{ tpUser.profile.firstName }} {{ tpUser.profile.lastName }}?</strong></p>

        <form action="{{ formUrl }}" id="stats-form" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukButton({
                text: "Confirm",
                preventDoubleClick: true
            }) }}
            {{ govukButton({
                text: "Cancel",
                classes: "govuk-button--secondary",
                href: "/training-providers/" + trainingProvider.id + "/users/" + tpUser.id
            }) }}
        </form>
    </div>
</div>

{% endblock %}
