{% set titleText = 'Password reset link is no longer valid' %}

{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{titleText}}</h1>
            <p class="govuk-body">
               Sorry our password reset token is no longer valid. This can happen if:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>you clicked your password reset link after already setting your password</li>
                <li>your password reset link expired</li>
                <li>the URL is incorrect</li>
            </ul>
            <p class="govuk-body">
                Password reset links expire after 7 days.
            </p>

            {% set signInMsg %}
            If you have already reset your password you can <a href="/signin">signin</a> to use SMarT services.
            {% endset %}
            {{ govukInsetText({ html: signInMsg }) }}

            <p class="govuk-body">
                If you still need to reset your password you can request another using the <a href="/forgot-password">forgot password</a> page.
            </p>

            {% set helpHtml %}
            If you're having problem resetting your password you can leave <a href="/feedback" class="govuk-link" target="_blank">feedback</a> or contact <a href="/support" class="govuk-link" target="_blank">support</a> for help.
            {% endset %}

            {{ govukDetails({
              summaryText: "Still having issues?",
              html: helpHtml
            }) }}
        </div>
    </div>
{% endblock %}
