{% set titleText = 'SMarT Reports'%}

{% extends "layout.html" %}
{% block content %}

{{ govukBackLink({
text: "Back",
href: "/reports"
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{titleText}}</h1>
        <form class="form" action="" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% set items = [] %}
            {% for smartCategory in smartCategories %}
            {% set items = (items.push( {  text: smartCategory.text,  value: smartCategory.id }), items) %}
            {% endfor %}

            {{ govukSelect({
            id: 'smartCategory',
            name: 'smartCategory',
            label: {
            text: 'Smart Category',
            classes: "govuk-label--m"
            },
            items: items | selectValue(smartItem.smartCategory.id)
            }) }}
        </form>
    </div>
</div>

{% endblock %}
