{% set titleText = 'SMarT Reports'%}

{% extends "layout.html" %}
{% block content %}

{{ govukBackLink({
text: "Back",
href: "/"
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{titleText}}</h1>
        <form class="form" action="" method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {% set items = [] %}
            {% set items = (items.push( {  text: "Continuing trainee report",  value: "continuing-trainee-report" }), items) %}

            {{ govukSelect({
            id: 'reportType',
            name: 'reportType',
            label: {
            text: 'Report Type',
            classes: "govuk-label--m"
            },
            items: items
            }) }}
        </form>
    </div>
</div>

{% endblock %}
